<div class="row">
  <div class="col">
    <div class="custom-control custom-radio">
      <input
        type="radio"
        id="antes"
        (change)="otraFecha = false"
        name="otraFecha"
        checked
        class="custom-control-input"
      />
      <label class="custom-control-label" for="antes">Lo antes posible</label>
    </div>
    <div class="custom-control custom-radio">
      <input
        type="radio"
        id="otra"
        (change)="otraFecha = true"
        name="otraFecha"
        class="custom-control-input"
      />
      <label class="custom-control-label" for="otra">Otra fecha</label>
    </div>
  </div>
</div>

<div class="row" style="margin-top: 15px;" *ngIf="otraFecha">
  <div class="col">
    <form [formGroup]="form" class="needs-validate">
      <div class="form-row">
        <div class="col-md-4 mb-3">
          <label>Fecha entrega</label>
          <div class="input-group" style="padding-top: 6px">
            <input
              class="form-control"
              placeholder="yyyy-mm-dd"
              name="dp"
              [minDate]="{ year: 2019, month: 05, day: 20 }"
              formControlName="fechaEntrega"
              ngbDatepicker
              #d="ngbDatepicker"
            />
            <div class="input-group-append">
              <button (click)="d.toggle()" type="button">
                <span class="material-icons">calendar_today</span>
              </button>
            </div>
          </div>
          <div
            *ngIf="
              form.get('fechaEntrega').errors && form.get('fechaEntrega').dirty
            "
          >
            <div
              class="invalid-feedback d-block"
              *ngIf="form.get('fechaEntrega').hasError('required')"
            >
              Campo invalido
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-3">
          <ngb-timepicker formControlName="horaMin"> </ngb-timepicker>
        </div>
      </div>
    </form>
  </div>
</div>
