<div class="row">
  <div class="col">
    <div class="custom-control custom-radio">
      <input
        type="radio"
        id="customRadio1"
        (change)="tarjeta = false"
        name="customRadio"
        checked
        class="custom-control-input"
      />
      <label class="custom-control-label" for="customRadio1">Efectivo</label>
    </div>

    <div class="custom-control custom-radio">
      <input
        type="radio"
        id="customRadio2"
        (change)="tarjeta = true"
        name="customRadio"
        class="custom-control-input"
      />
      <label class="custom-control-label" for="customRadio2"
        >Tarjeta visa</label
      >
    </div>
  </div>
</div>
<form [formGroup]="form" class="needs-validate">
  <div class="row" style="margin-top: 15px;" *ngIf="!tarjeta">
    <div class="col-md-4 mb-3">
      <label>Monto</label>
      $
      <input
        type="text"
        class="form-control"
        formControlName="efectivo"
        placeholder="Monto"
      />
      <div *ngIf="form.get('efectivo').errors && form.get('efectivo').dirty">
        <div
          class="invalid-feedback d-block"
          *ngIf="form.get('efectivo').hasError('pattern')"
        >
          Campo invalido
        </div>
        <div
          class="invalid-feedback d-block"
          *ngIf="form.get('efectivo').hasError('required')"
        >
          Campo invalido
        </div>
      </div>
    </div>
  </div>
  <div class="row" style="margin-top: 15px;" *ngIf="tarjeta">
    <div class="col">
      <div class="form-row">
        <div class="col-md-4 mb-3">
          <label>Número tarjeta</label>
          <input
            type="text"
            class="form-control"
            formControlName="numeroTarjeta"
            placeholder="Número tarjeta"
          />
          <div
            *ngIf="
              form.get('numeroTarjeta').errors &&
              form.get('numeroTarjeta').dirty
            "
          >
            <div
              class="invalid-feedback d-block"
              *ngIf="form.get('numeroTarjeta').hasError('pattern')"
            >
              Ingrese una tarjeta visa
            </div>
            <div
              class="invalid-feedback d-block"
              *ngIf="form.get('numeroTarjeta').hasError('required')"
            >
              Campo invalido
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-3">
          <label>Nombre titular</label>
          <input
            type="text"
            class="form-control"
            placeholder="Nombre titular"
            formControlName="nombre"
          />
          <div *ngIf="form.get('nombre').errors && form.get('nombre').dirty">
            <div
              class="invalid-feedback d-block"
              *ngIf="
                form.get('nombre').hasError('pattern') ||
                form.get('nombre').hasError('required')
              "
            >
              Campo invalido
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-3">
          <label>Apellido titular</label>
          <input
            type="text"
            class="form-control"
            placeholder="Apellido titular"
            formControlName="apellido"
          />
          <div
            *ngIf="form.get('apellido').errors && form.get('apellido').dirty"
          >
            <div
              class="invalid-feedback d-block"
              *ngIf="
                form.get('apellido').hasError('pattern') ||
                form.get('apellido').hasError('required')
              "
            >
              Campo invalido
            </div>
          </div>
        </div>
      </div>
      <div class="form">
        <div class="form-row"><label>Fecha vencimiento</label></div>
        <div class="form-row">
          <div class="col-md-2 mb-3">
            <label>Mes</label>
            <input
              type="text"
              class="form-control"
              placeholder="MM"
              formControlName="mesVencimiento"
              maxlength="2"
            />
            <div
              *ngIf="
                form.get('mesVencimiento').errors &&
                form.get('mesVencimiento').dirty
              "
            >
              <div
                class="invalid-feedback d-block"
                *ngIf="
                  form.get('mesVencimiento').hasError('pattern') ||
                  form.get('mesVencimiento').hasError('required')
                "
              >
                Campo invalido
              </div>
            </div>
          </div>
          <div class="col-md-2 mb-3">
            <label>Año</label>
            <input
              type="text"
              class="form-control"
              placeholder="AAAA"
              formControlName="añoVencimiento"
              maxlength="4"
            />
            <div
              *ngIf="
                form.get('añoVencimiento').errors &&
                form.get('añoVencimiento').dirty
              "
            >
              <div
                class="invalid-feedback d-block"
                *ngIf="
                  form.get('añoVencimiento').hasError('pattern') ||
                  form.get('añoVencimiento').hasError('min') ||
                  form.get('añoVencimiento').hasError('required')
                "
              >
                Campo invalido
              </div>
            </div>
          </div>
          <div class="col-md-3 mb-3">
            <label>CVC</label>
            <input
              type="text"
              class="form-control"
              placeholder="999"
              formControlName="cvc"
              maxlength="3"
            />
            <div *ngIf="form.get('cvc').errors && form.get('cvc').dirty">
              <div
                class="invalid-feedback d-block"
                *ngIf="
                  form.get('cvc').hasError('pattern') ||
                  form.get('cvc').hasError('required') ||
                  form.get('cvc').hasError('minLength')
                "
              >
                Campo invalido
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
