/* You can add global styles to this file, and also import other style files */
$material-icons-font-path: '~material-icons/iconfont/';
@import '~node_modules/material-icons/iconfont/material-icons.scss';
html {
  height: 100vh;
}

.d-block {
  display: block !important;
}

.w-100 {
  width: 100% !important;
}

ngb-datepicker.dropdown-menu {
  z-index: 9999;
}