<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Delivery Eat</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#"
          >Home <span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" style="color: lightblue;">Mis pedidos</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input
        class="form-control mr-sm-2"
        type="search"
        placeholder="Search"
        aria-label="Search"
      />
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
        Buscar
      </button>
    </form>
  </div>
</nav>
<div class="container"style="height: auto;">
  <div class="row">
    <h1>
    Pedido al comercio <span style="font-weight: bold;">{{ comercio }}</span>
  </h1>
</div>
  <div class="row" style="margin:20px; padding: 5px">
    <div class="col-8">
      <h3>
        Lugar de entrega
      </h3>
      <app-lugar-entrega></app-lugar-entrega>
      <h3>
        Forma de pago
      </h3>
      <app-forma-pago></app-forma-pago>
      <h3>
        Fecha entrega
      </h3>
      <app-fecha-entrega></app-fecha-entrega>
    </div>
    <div class="col-4">
      <h5>
        Productos agregados
        <span class="material-icons" style="float: right;"
          >local_grocery_store</span
        >
      </h5>
      <table>
        <thead>
          <tr>
            <th></th>
            <th>
              Producto
            </th>
            <th class="text-right">
              Cantidad
            </th>
            <th class="text-right">
              Precio
            </th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of listaProductos">
            <td>
              <img style="width: 50px; height: 50px;" src="{{ item.imagen }}" />
            </td>
            <td>{{ item.nombre }}</td>
            <td class="text-right">{{ item.cantidad }}</td>
            <td class="text-right">${{ item.precio }}</td>
            <td class="text-right">
              <a (click)="quitarItem(item)"><strong>X</strong></a>
            </td>
          </tr>
        </tbody>
      </table>

      <div class="row">
        <div class="col">
          <h5 class="text-right">
            <strong> Total: $ {{ getTotal() }} </strong>
          </h5>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <button class="btn btn-primary" type="submit" (click)="confirmar()">
            Confirmar pedido!
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
