h1 {
  font-size: 250%;
}

h1,
h5,
h3 {
  margin-top: 10px;
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  border-bottom: 1px solid;
  position: sticky;
  top: 0;
  z-index: 1000;
  background: white;
}

.bg-light {
  background-color: #4da6ff !important;
}

table {
  width: 100%;
}

.text-right {
  text-align: right !important;
}

