h1 {
  font-size: 250%;
  padding-top: 10px;
}

h1, h5, h3 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  border-bottom: 1px solid
}

.bg-light {
  background-color: #4da6ff !important;
}

table {
  width: 100%;
}

.text-right {
  text-align: right !important;
}