<form [formGroup]="form" class="needs-validate">
    <div class="form-row">
        <div class="col-md-4 mb-3">
            <label>Calle</label>
            <input type="text" class="form-control"
                   formControlName="calle"
                   placeholder="Nombre calle">
                   <div *ngIf="form.get('calle').errors && form.get('calle').dirty">
                      <div
                        class="invalid-feedback d-block"
                        *ngIf="
                          form.get('calle').hasError('pattern') ||
                          form.get('calle').hasError('required')
                        "
                      >
                        Campo invalido
                      </div>
                    </div>
        </div>
        <div class="col-md-4 mb-3">
            <label>Número</label>
            <input type="text" class="form-control" placeholder="Altura"
                   formControlName="numero">
                   <div *ngIf="form.get('numero').errors && form.get('numero').dirty">
                      <div
                        class="invalid-feedback d-block"
                        *ngIf="
                          form.get('numero').hasError('pattern') ||
                          form.get('numero').hasError('required')
                        "
                      >
                        Campo invalido
                      </div>
                    </div>
        </div>
        <div class="col-md-4 mb-3">
            <label>Ciudad</label>
            <select formControlName="ciudad" class="custom-select">
                <option value="" selected>Seleccione</option>
                <option value="1">Buenos Aires</option>
                <option value="2">Córdoba</option>
                <option value="3">La Plata</option>
            </select>
            <div *ngIf="form.get('ciudad').errors && form.get('ciudad').dirty">
                <div
                  class="invalid-feedback d-block"
                  *ngIf="
                    form.get('ciudad').hasError('required')
                  "
                >
                  Campo invalido
                </div>
              </div>
        </div>
    </div>
    <div class="form-row">
        <div class="mb-3 w-100">
            <label>Referencia</label>
            <textarea class="form-control" formControlName="referencia"
                      placeholder="Indicar referencias si es necesario"></textarea>
        </div>
    </div>
</form>
